<div class="panel panel-default">
	<div class= "panel-heading">
		<h1><font size = "6">My Projects</font></h1>
		<div class="form-group">
			<p><%= link_to "Sample Pinterest", "http://sample-pinteresting.herokuapp.com", class: "btn btn-default btn-md" %></p>
		</div>
	</div>
</div>