<div class="center hero-unit">
	<h1><font size = "10", color="black">Rikki Katz</font></h1>

	<font size = "3", color="black">
	I'm a computer science and mathematics student with programming experience in Java, C++, and Ruby on Rails.</font><br><br>

	<p><%= link_to(image_tag("fb.png", :alt => "Promo Image"), "https://www.facebook.com/rikki.katz") %>
		<%= link_to(image_tag("li.gif", :alt => "Promo Image", :style => "width: 31px"), "https://www.linkedin.com/pub/rikki-katz/74/2a7/110") %>
	</p>
</div>