<div class="center hero-unit"><center>
		<h1><font size = "7">Welcome!</font></h1>

		<h2><p><font size = "5">Information about me: </font></p></h2>
		<br>
		<p><%= link_to "LinkedIn", "https://www.linkedin.com/pub/rikki-katz/74/2a7/110" %></p>	
		<p><%= link_to "Facebook", "https://www.facebook.com/rikki.katz" %></p>
</center></div>