$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: #7f8c8d;

@import 'bootstrap';
body{
    padding-top: 60px;
    background: #7f8c8d;
    background-size: 100%;
    background-repeat:no-repeat;
}

@import 'bootstrap-responsive';


.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}